<%- include('./partials/header') %>
<script>
  const Swal = require('sweetalert2')
  Swal.fire({
title: 'Error!',
text: 'Do you want to continue',
icon: 'error',
confirmButtonText: 'Cool'
})
</script>
  <h1 class="title_body">ULTIMOS ALBUMES AGREGADOS</h1>

  <div class="album_box_father">
    <% albums.map(album=> {%>
      <div class="album_box">
        <h1><a href="/albums/<%= album.album_id %>">
            <%= album.name %>
          </a></h1>
        <img src="/images/<%=album.cover%>">
        <p>Creado el <%= album.date %>
        </p>
      </div>
      <%}); %>
  </div>
  <% if(orders.length>0){ %>
    <div style="display: flex;flex-wrap: wrap;justify-content: center;flex-direction: column;align-content: center;">
      <h1 class="title_body">HISTORIAL DE PEDIDOS</h1>
      <table class="orders-table-user">
        <th>Fotos pedidas</th>

        <% orders.map(order=> {%>
          <tr>
            <td>
              <%= order.photos %>
            </td>
          </tr>
          <% }) %>
      </table>
    </div>
    <% } %>


      <%- include('./partials/footer') %>