<%- include('./partials/header') %>

  <section class="jumbotron text-center bg-white my-3">
    <h1 style="font-family: 'Montserrat', sans-serif;
  font-weight: 200; font-size: 40px;">Seguinos en nuestras redes sociales</h1>
    <div class="container d-flex flex-column align-items-center py-4">

      <div class="d-flex justify-content-center">
        <a href="https://www.facebook.com/rossogustavo.com.ar/?fref=ts"><i class="fa fa-brands fa-facebook pt-1 px-2"
            style="color: #2b35ca; font-size: 20px;"></i></a>
        <a style="text-decoration: none;" href="https://www.facebook.com/rossogustavo.com.ar/?fref=ts">
          <p class="text-dark">@rossogustavo</p>
        </a>
      </div>

      <div class="d-flex justify-content-center">
        <i class="fa fa-phone pt-1 px-2" style="color: #2b35ca; font-size: 20px;"></i>
        <p class="text-dark">3537513657</p>
      </div>
      <div class="d-flex justify-content-center">
        <a href="https://www.youtube.com/@gustavorosso7650"><i class="fa fa-brands fa-youtube pt-1 px-2"
            style="color: #2b35ca; font-size: 20px;"></i></a>
        <a style="text-decoration: none;" href="https://www.youtube.com/@gustavorosso7650">
          <p class="text-dark  link-opacity-100-hover">Suscribite a mi canal de youtube</p>
        </a>
      </div>

      <div class="d-flex justify-content-center">
        <a href="https://api.whatsapp.com/send?phone=543537513657"><i class="fa fa-brands fa-whatsapp pt-1 px-2"
            style="color: #2b35ca; font-size: 20px;"></i></a>
        <a style="text-decoration: none;" href="https://api.whatsapp.com/send?phone=543537513657">
          <p style="font-size: 20px;" class=" lead text-dark link-opacity-100-hover">Enviame un whatsapp</p>
        </a>
      </div>

    </div>
  </section>
  </script>
  <h1 class="title_body" style="font-family: 'Montserrat', sans-serif;
  font-weight: 400; font-size: 40px;">Últimos albumes agregados</h1>
  <!--
  <div class="album_box_father">
    <% albums.map(album=> {%>
      <div class="album_box">
        <h1><a href="/orders/create/<%= album.album_id %>">
            <%= album.name %>
          </a></h1>
        <a href="/orders/create/<%= album.album_id %>">
          <img src="/images/<%=album.cover%>">
        </a>
        <p>Creado el <%= album.date %>
        </p>
      </div>
      <%}); %>
        <a href="/albums/list" class="lead text-muted p-4 text-center">Ver todas las fotos</a>

  </div>
-->

  <div class="container-xxl mx-5 d-flex flex-wrap">
    <% albums.map(album=> {%>
      <div class="bg-white py-5 px-4 d-flex flex-wrap flex-column justify-content-center align-items-center" style="width: 33%">
        <a href="/orders/create/<%= album.album_id %>">
          <img style="width: 100%;" src="/images/<%=album.cover%>">
        </a>
        <div class="d-flex flex-column flex-wrap h-10 p-3 align-items-center">
          <h1 style="font-size: 25px;" class="text-center">
            <a class="text-dark" style="text-decoration: none;" href="/orders/create/<%= album.album_id %>">
              <%= album.name %>
            </a></h1>
          <p class="text-muted pt-2">Creado el <%= album.date %>
          </p>
        </div>
      </div>

      <%}); %>

  </div>
  </div>


  <% if(orders.length>0){ %>
    <div
      style="display: flex;flex-wrap: wrap;justify-content: center;flex-direction: column;align-content: center;padding: 20px;">
      <h1 class="title_body" style="font-family: 'Montserrat', sans-serif;
      font-weight: 400; font-size: 40px;">Historial de pedidos</h1>
      <table class="orders-table-user">
        <th>Fotos pedidas</th>

        <% orders.map(order=> {%>
          <tr>
            <td>
              <%= order.photos %>
            </td>
          </tr>
          <% }) %>
      </table>
    </div>
    <% } %>


      <section class="jumbotron text-center" id="comoPidoMisFotos">
        <div class="conteiner">
          <h1 style="font-family: 'Montserrat', sans-serif;
        font-weight: 400; font-size: 40px;">¿Cómo pido mis fotos?</h1>
          <div class="box-icon">
            <p class="lead text-muted p-2">Lo unico que tenes que hacer es registrarte con los datos que luego seran
              utiles para que recibas tus fotos, y elegir las fotos que te gustan!</p>
            <p class="lead text-muted p-2">Busca las fotos que te gustaria pedir y solo pulsando el boton añadir al
              carrito, nos pondremos en contacto con vos para que puedas recibirlas!</p>
          </div>

        </div>
      </section>


      <%- include('./partials/footer') %>