<%- include('../partials/header')  %>
<main style="height: 650px;">
<div class="register_box_father">
<h1 class="title_body" style="font-family: 'Montserrat', sans-serif;
font-weight: 400; font-size: 40px;">Crear usuario</h1>

<form class="register_box" action="/user/register" method="POST">
   
          
    <% if (locals.errors && errors.name) { %>
        <span class="barra text-danger">
            <%= errors.name.msg %>
        </span>
        <% } %>
     
    <label for="name">Nombre de usuario:</label>
    <input style="width: 15%;" class="form-control" id="floatingInput" type="text" name="name" value="<%= locals.oldData ? oldData.name : null %>">
  
    <% if (locals.errors && errors.email) { %>
        <span class="barra text-danger">
            <%= errors.email.msg %>
        </span>
        <% } %>
    <label for="email">Email:</label>
    <input style="width: 15%;" class="form-control" id="floatingInput" type="email" name="email" value="<%= locals.oldData ? oldData.email : null %>">

    <% if (locals.errors && errors.address) { %>
        <span class="barra text-danger">
            <%= errors.address.msg %>
        </span>
        <% } %>
    <label for="address" >Direccion:</label>
    <input style="width: 15%;" class="form-control" id="floatingInput" type="text" name="address" value="<%= locals.oldData ? oldData.address : null %>">

    <% if (locals.errors && errors.password) { %>
        <span class="barra text-danger">
            <%= errors.password.msg %>
        </span>
        <% } %>
    <label for="password">Password:</label>
    <input style="width: 15%;" class="form-control" id="floatingInput" type="password" name="password" >

    <button type="submit">Crear</button>

</form>
</div>
</main>
<%- include('../partials/footer')  %>