<%- include('../partials/header')  %>

<h1 class="title_body">TODOS LOS PEDIDOS </h1>

<div class="album_box_father">
  <table class="table table-hover table-bordered">
    <thead>
  <tr>
    <th>Nombre</th>
    <th>Email</th>
    <th>Direccion</th>
    <th>Fotos pedidas</th>
    <th>Nombre de album</th>
  </tr>
</thead>
  <tbody class="table-group-divider">
    <% orders.map(order=> {%>
  <tr>
      <td><%= order.name %></td>
      <td><%= order.email %></td>   
      <td><%= order.address %></td>
     <td><%= order.photos %></td>
<% if(order.album_id!=0){ %>
     <td><%= order.albums.name %></td> 
<%}else{ %>
 <td>Indefinido</td>
<%} %>

     <form action="/orders/delete/<%= order.id %>" method="POST">
      <td><input type="submit" value="Borrar" id="button-order-delete" name="delete-button"></td>
     </form>
    
  </tr>
  
    <%}); %>
  </tbody>
 
  </table>


</div>
<%- include('../partials/footer')  %>
