<%- include('../partials/header')  %>

<div style="display: flex; justify-content: center; padding: 20px;">
  <a href="/albums/admin/create"><button class="admin-button text-center">Crear</button></a>
  <a href="/orders/list"><button class="admin-button text-center">Ver tabla de pedidos</button></a>
</div>
<div class="album_box_father">
<% albums.map(album=> {%>
  <div class="album_box">
    <h1><a href="/albums/admin/update/<%= album.album_id %>"><%= album.name %></a></h1>
    <img src="/images/<%=album.cover%>">
    <p>Creado el <%= album.date %></p>
    </div>  
<%}); %>

</div>
<%- include('../partials/footer')  %>