<%- include('../partials/header')  %>


<button class="admin-button"><a href="/albums/admin/create">CREAR</a></button>
<button class="admin-button"><a href="/orders/list">Ver tabla de pedidos</a></button>

<div class="album_box_father">
<% albums.map(album=> {%>
  <div class="album_box">
    <h1><a href="/albums/admin/update/<%= album.album_id %>"><%= album.name %></a></h1>
    <img src="/images/<%=album.cover%>">
    <p>Creado el <%= album.date %></p>
    </div>  
<%}); %>

</div>
<%- include('../partials/footer')  %>