<%- include('../partials/header')  %>

<div style="display: flex; justify-content: center; padding: 20px;">
<button class="admin-button text-center"><a href="/albums/admin/create">Crear</a></button>
<button class="admin-button text-center"><a href="/orders/list">Ver tabla de pedidos</a></button>
</div>
<div class="album_box_father">
<% albums.map(album=> {%>
  <div class="album_box">
    <h1><a href="/albums/admin/update/<%= album.album_id %>"><%= album.name %></a></h1>
    <img src="/images/<%=album.cover%>">
    <p>Creado el <%= album.date %></p>
    </div>  
<%}); %>

</div>
<%- include('../partials/footer')  %>