<%- include('../partials/header')  %>
<div class="container-sm bg-white">

<div style="display: flex; justify-content: center; padding: 20px;" >
  <a class="btn btn-primary p-3 mx-3" style="background-color:#373e98; border: none;" href="/albums/admin/create">Crear album</a>
  <a class="btn btn-primary p-3" style="background-color:#373e98; border: none;" href="/orders/list">Ver tabla de pedidos</a>
</div>
<div class="mt-4 bg-white p-4">
<div class="container-xxl mx-5 d-flex flex-wrap">

<% albums.map(album=> {%>
  <div class="col-md-4">
    <div class="card h-100 p-3 border border-light">
     
 
        <a href="/albums/admin/update/<%= album.album_id %>">
          <img class="card-img-top" style="width: 100%; height: 40vh; object-fit: contain; "
          src="/images/<%=album.cover%>">
      </a>
      <div class="card-body">
        <h1 style="font-size: 20px;" class="text-center card-title">
          <a class="text-dark card-title" style="text-decoration: none;"
          href="/albums/admin/update/<%= album.album_id %>">
            <%= album.name %>
          </a>
        </h1>
        <p class="text-muted text-center card-text pt-2">Creado el <%= album.date %>
        </p>
      </div>
    </div>
  </div>

<%}); %>

</div>
</div>
</div>
<%- include('../partials/footer')  %>