<%- include('../partials/header')  %>

<h1>Crear album</h1>
<div class="create-box">
<form action="/albums/admin/create" enctype="multipart/form-data" method="POST">

    
    <div>
        <% if (locals.errors && errors.name) { %>
            <span class="barra">
                <%= errors.name.msg %>
            </span>
            <% } %>
    <label for="name">NOMBRE</label>
    <input type="text" name="name" >
</div>

<div>
    <% if (locals.errors && errors.date) { %>
        <span class="barra">
            <%= errors.date.msg %>
        </span>
        <% } %>
    <label for="">FECHA</label>
    <input type="date" name="date" >
</div>
<div>
    <% if (locals.errors && errors.cover) { %>
        <span class="barra">
            <%= errors.cover.msg %>
        </span>
        <% } %>
    <label for="">FOTO DE PORTADA</label>
    <input class="fyle" type="file" accept=".jpg,.jpeg, .png, .jpeg, .svg" name="cover" id="image">
    
    <label for="">Link</label>
    <input type="text" name="link" >
</div>
    <button  class="admin-button" type="submit">CREAR</button>


</form>
</div>
<%- include('../partials/footer')  %>