<%- include('../partials/header')  %>


<h1 id="update-title">EDITAR ALBUM</h1>
<div class="update-box">
    
<img src="/images/<%= album.cover %>" alt="">
<form action="/albums/admin/update/<%= album.album_id %>"  enctype="multipart/form-data" method="POST">

    <div>
    <label for="">NOMBRE</label>
    <input type="text" name="name" value="<%= album.name %>" >
</div>
<div>
    <label for="">FECHA</label>
    <input type="date" name="date" value="<%= album.date %>">
</div>
<div>
    <label for="">FOTO DE PORTADA</label>
    <input class="fyle" type="file" accept=".jpg, .png, .jpeg, .svg" name="cover" id="image" value="<%= album.cover %>">
</div>

<% if(album.link!=null){ %>
<div>
    <label for="">link</label>
    <input type="text" name="link" value="<%= album.link %>">
</div>
<% } %>
    <button class="admin-button" type="submit">EDITAR</button>
</form>
</div>

<div class="admin-button-box">
<form method="POST" enctype="multipart/form-data" action="/albums/admin/delete/<%= album.album_id %>">
    <button class="admin-button" type="submit">BORRAR ALBUM</button>
</form>
<button class="admin-button"><a href="/albums/admin/create/addPhoto/<%= album.album_id %>">AGREGAR FOTOS</a></button>
<button class="admin-button"><a href="/albums/admin/delete/deletePhoto/<%= album.album_id %>">ELIMINAR FOTOS</a></button>
</div>
<%- include('../partials/footer')  %>