<%- include('../partials/header')  %>


<% if(locals.isAdmin){ %>
<button class="admin-button"><a href="/albums/admin/adminView">VER VISTA DE ADMINISTRADOR</a></button>
  <% } %>
<h1 class="title_body">TODOS LOS ALBUMES </h1>

<div class="album_box_father">
<% albums.map(album=> {%>
  <div class="album_box">
    <h1><a href="/albums/<%= album.album_id %>"><%= album.name %></a></h1>
    <img src="/images/<%=album.cover%>">
    <p>Creado el <%= album.date %></p>
    </div>  
<%}); %>

</div>
<%- include('../partials/footer')  %>