<%- include('../partials/header') %>

  <div class="container-sm bg-white">
    <h1 class="text-center py-5" style="font-family: 'Montserrat', sans-serif;
  font-weight: 400; font-size: 40px;">Todos los albumes</h1>
    <div class="row">
      <% albums.map(album=> {%>

        <div class="col-md-4">
          <div class="card h-100 p-3 border border-light">
           
            <a href="/orders/create/<%= album.album_id %>">
              <img class="card-img-top" style="width: 100%; height: 40vh; object-fit: contain; "
                src="/images/<%=album.cover%>">
            </a>
            <div class="card-body">
              <h1 style="font-size: 20px;" class="text-center card-title">
                <a class="text-dark card-title" style="text-decoration: none;"
                  href="/orders/create/<%= album.album_id %>">
                  <%= album.name %>
                </a>
              </h1>
              <p class="text-muted text-center card-text pt-2">Creado el <%= album.date %>
              </p>
            </div>
          </div>
        </div>

        <%}); %>
    </div>

  </div>
  <%- include('../partials/footer') %>