<%- include('../partials/header')  %>

<h1 id="album_name"><%= album.name %></h1>
<div class="photos_box">

    <% album.photos.map(photo=> {%>
        <img src="/images/<%= photo.link %>">
    <%}); %>
</div>


<form method="POST" enctype="multipart/form-data" action="/albums/admin/create/addPhoto/<%= album.album_id %>">
    <input class="fyle" type="file" accept=".jpg, .png, .jpeg, .svg" name="images" multiple>
    <button class="admin-button" type="submit">AGREGAR FOTO/S</button>
</form>
<%- include('../partials/footer')  %>
